table {
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

th {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
    background-color: lightslategray;
    border-radius: 10px;
    font-size: 24pt;
}

td {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    padding: 10px;
    background-color: silver;
    border-radius: 15px;
    text-align: center;
    font-size: 18pt;
}

button {
    border-radius: 20px;
    padding: 10px;
    width: 80%;
    height: 100%;
    background-color: rgb(113, 136, 155);
    color: maroons;
    font-size: 18pt;
}