.container {
    width: 1920px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

img {
    width: 20%;
    margin: 10px;
    border-bottom: solid 3px rgb(129, 129, 129);
    border-right: solid 3px rgb(129, 129, 129);
    border-radius: 5px;
}

@media only screen and (max-width: 1080px) {
    .container {
        width: 100%;
    }
    img {
        width: 20%;
    }
    img:nth-last-child(-n+2) {
        width: 45%;
    }
}