img {
    width: 98%;
    height: 98%;
    border-bottom: solid 3px rgb(129, 129, 129);
    border-right: solid 3px rgb(129, 129, 129);
    border-radius: 5px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.img {
    flex: 1 20%;
}

@media (max-width: 1280px) {
    .img {
        flex: 1 25%;
    }
    .img:nth-last-child(-n+2) {
        flex: 1 50%;
    }
}