  .container {
      display: flex;
      flex-wrap: wrap;
  }
  
  .colors {
      margin: 1px;
      flex: 1;
  }
  
  .red {
      height: 100px;
      background: red;
      flex: 1;
  }
  
  .orange {
      height: 100px;
      background: orange;
      flex: 3;
  }
  
  .green {
      height: 200px;
      background: green;
  }
  
  .brown {
      background: brown;
      height: 150px;
  }
  
  .blue {
      background: blue;
      height: 150px;
  }
  
  .purple {
      background: purple;
      height: 150px;
  }
  
  @media(max-width: 480px) {
      .container>* {
          flex: 1 100%;
      }
  }
  
  @media(max-width:640px) {
      .purple {
          flex: 1 100%;
      }
  }